
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: .6em 0;
  color: white;
  margin: 0;
}

.basicLayout {
  height: 100%;
}

.logo {
  height: 38px;
  background: url(../assets/logo.svg) center/auto 70% no-repeat;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 2px;
  margin: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.collapsedLogo {
  background:url(../assets/logo_minimize.svg) center/auto 50% no-repeat;
  background-color: rgba(255, 255, 255, .2);
  border-radius:50%;
  height: 38px;
  width: 38px;
  margin: 16px auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}

.pageContentWrapper {
  padding: 24px;
  margin-bottom: 24px;
  background: #fff;
  min-height: 100%;
}

